@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@600&family=Roboto:wght@500&display=swap');

.choice-container {
    display: flex;
    margin-bottom: .8rem;
    width: 100%;
    border-radius: 5px;
    background-color: #fffc00;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(58, 57, 57, 0.5);
    transform: scale(1.02);
}

.prefix {
    padding: 2rem 2rem;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

#game-display-outer {
    display: flex;
    justify-content: space-between;
}

.question-prefix {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 1rem;
}

.main-text-score {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: .2rem solid #fffc00;
    border-radius: 5px;
    margin-top: 2rem;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: #fffc00;
    width: 0%;
}

#progressText {
    color: white;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}

.image-container {
    margin-bottom: 2rem;
}

.fa-home {
    color: #232322;
}

.game-exit {
   
}


/* media queries  */

@media only screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}

@media only screen and (max-width: 400px) {
    .choice-container {
        min-width: 30rem;
    }
    * {
        font-size: 50%;
    }
}